# foundry
out
cache

#
# Generated ABI files and deployed addresses
artifacts

# tooling
node_modules
.openzeppelin

# testing
coverage

# production
build
dist
dist-ssr
.cache

# misc
.DS_Store
*.pem
*.tgz

# local env files
.env
.env.*
!.env.example
