# dependencies
node_modules

# testing
coverage

# production
build
dist
dist-ssr
*.local
.cache
storybook-static
typechain

# misc
.DS_Store
*.pem
*.tgz

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# deployments
deployments
deployed_contracts.json
managingDAOTX.json

# generated
packages/contracts/docs/core/03-reference-guide/*
!packages/contracts/docs/core/03-reference-guide/index.md
generated
subgraph.yaml
.bin
mythx.json