# foundry
out
cache

# Deployment outputs from `just deploy-*` scripts
deployments
/broadcast/**
logs/*

# tooling
node_modules
.openzeppelin

# testing
coverage

# production
build
dist
dist-ssr
.cache

# misc
.DS_Store
*.pem
*.tgz

# local env files
.env
.env.*
!.env.example
