name: Style Checks
on:
  push:

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Install node
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 18
      - name: Install dependencies
        run: yarn install --pure-lockfile
      - name: Check with prettier
        run: yarn run prettier:check
