name: Subgraph Tests
on:
  push:
    paths:
      - 'packages/subgraph/**'
      - '.github/workflows/subgraph-*.yml'
      - 'packages/subgraph/**'

env:
  working-directory: packages/subgraph

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.prepare.outputs.environment }}
      matrix: ${{ steps.prepare.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - name: Prepare
        id: prepare
        run: node .github/helpers/subgraph/buildMatrix.js '${{ github.ref }}'
  test:
    needs: [prepare]
    runs-on: ubuntu-latest
    environment: ${{ needs.prepare.outputs.environment }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.prepare.outputs.matrix) }}
    defaults:
      run:
        working-directory: ${{env.working-directory}}
    steps:
      - uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install yarn
        run: npm i -G yarn
      - name: Install dependencies
        run: yarn
      - name: Build contracts
        run: yarn run build:contracts
      - name: Build manifest
        run: yarn run manifest
        env:
          NETWORK_NAME: ${{matrix.network}}
      - name: Build
        run: yarn run build
      - name: Run Tests
        run: yarn run test
        